body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body{
  background-color: darkcyan;
}
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
div{
  float: left;
  padding: 20px;
  width: 70%;
}
nav {
  float: left;
  width: 15%;
  background: #ccc;
  padding: 20px;
}
a {
  color: #00B7FF;
}
