<!DOCTYPE html>
<html>
  <head>
    <title>Toy Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="d-flex flex-column flex-shrink-0 p-3 mb-3 text-white bg-dark">
      <h4><a class="nav-link" href="/">Home</a></h4> 
      <h4><a class="nav-link" href="/gundam">admin Gundam</a></h4>
      <h4><a class="nav-link" href="/gundam/list">Customer Gundam</a></h4>
      <h4><a class="nav-link" href="/hotwheel">Hotwheel admin</a></h4>
      <h4><a class="nav-link" href="/hotwheel/list">Customer hotwheel</a></h4>
    </nav>
    {{{body}}}
  </body>
</html>
